.userCard--card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.userCard--card--bgName {
  display: flex;
  justify-content: center;
  background-image: url("../../../../public/img/utilities/fondoname.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  opacity: 0.9;
  width: 270px;
  color: var(--button--textColor);
  align-items: center;
  padding: 0.9%;
}

.userCard--card--bgName h3 {
  margin: 0;
}

.userCard--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border: 1px solid #d3d3d3;
  border-top: none;
  padding: 1% 3%;
  text-align: start;
}

.userCard--stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: var(--button--textColor);
}

.userCard--stats span {
  color: #ecd586;
}
