.shop {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/background/bg-shop.webp");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.shop--items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  height: 100%;
}

.shop--inventory,
.shop--npc {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/items/shop-interface/bg-inventory-shop.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  padding: 10%;
  color: #d3d3d3;
  height: 85%;
}

.shop--npc {
  padding-top: 3%;
}

.shop--npc--button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 307px;
  height: 32px;
}

.shop--npc--button button {
  background-image: url("../../img/items/shop-interface/btn-shop.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  color: var(--button--textColor);
  filter: brightness(0.8);
}

.shop--npc--button button.active {
  filter: brightness(1.4);
}

.shop--npc--button button:hover {
  filter: brightness(1.2);
}

.shop--npc--card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: url("../../img/items/shop-interface/shop.webp");
  width: 307px;
  height: 387px;
  padding: 35px 30px;
}

.divSelectNpc {
  display: flex;
  justify-content: center;
  width: 307px;
  height: 32px;
  margin-bottom: 5%;
}

.divSelectNpc button {
  background-image: url("../../img/items/shop-interface/btn-shop.webp");
  width: 100%;
  height: 32px;
}

/* UPGRADE */

.upgrade--npc--card {
  display: flex;
  background-image: url("../../img/upgrade.png");
  background-size: 100% 100%;
  width: 231px;
  height: 227px;
  justify-content: space-evenly;
}

.upgradeDiv {
  height: 32px;
  width: 32px;
  background-color: unset;
  border: 1px solid #ecd586;
}

.upgradeDiv:nth-child(1) {
  margin-top: 33.5%;
  margin-left: 6%;
}

.upgradeDiv:nth-child(2) {
  margin-top: 76%;
  margin-left: -1%;
}

.upgradeDiv:nth-child(3) {
  margin-top: 7%;
  margin-left: 8%;
}

.upgradeDiv:nth-child(4) {
  margin-top: 45%;
  margin-left: -15%;
  margin-right: 10%;
}

.upgradeDiv:nth-child(5) {
  margin-top: 76%;
  margin-left: -3%;
  margin-right: 2%;
}
.upgradeDiv:nth-child(6) {
  margin-top: 33.5%;
  margin-left: -3%;
  margin-right: 6%;
}
