.shop {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/bg-shop.webp");
  background-size: 100% 100%;
  background-position: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.shop--items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  height: 100vh;
}

.shop--inventory,
.shop--npc {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/bg-inventory-shop.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  padding: 10%;
}

.shop--npc--button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 248px;
  height: 32px;
}

.shop--npc--button button {
  background-image: url("../../img/items/buttons.jpg");
  color: var(--button--textColor);
}

.shop--npc--card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: url("../../img/items/shop.webp");
  width: 248px;
  height: 329px;
}
