.shop {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/background/bg-shop.webp");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.shop--items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 75%;
  height: 100%;
}

.shop--inventory,
.shop--npc {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/items/shop-interface/bg-inventory-shop.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  justify-content: center;
  color: var(--button--textColor);
  width: 400px;
  height: 550px;
}

.shop--npc {
  margin-bottom: 7%;
}

.section--NPCs {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.divSelectNpc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  width: 100%;
}

.divSelectNpc button {
  background-color: #1e1e1e;
  border: 2px solid #ecd586;
  border-bottom: none;
  width: 100%;
  color: var(--button--textColor);
  filter: brightness(0.8);
  font-weight: bold;
}

.divSelectNpc button:hover {
  filter: brightness(1.2);
  background-color: #21404a;
  cursor: pointer;
}
