.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPagination {
  background-color: unset;
  border: 2px solid #ecd586;
  color: #ecd586;

  padding: 3px 10px;
  filter: brightness(0.9);
}

.buttonPagination:first-child {
  border-right: none;
}

.buttonPagination:last-child {
  border-left: none;
}

.buttonPagination:nth-child(2) {
  border-left: 2px solid #ecd586;
}

.buttonPagination:hover {
  filter: brightness(1.2);
  background-color: #002d48;
}
