.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPagination {
  background-color: unset;
  border: 2px solid #f9e2b8;
  color: #f9e2b8;

  padding: 3px 10px;
  filter: brightness(0.9);
}

.buttonPagination:hover {
  filter: brightness(1.2);
  background-color: #002d48;
}
