/* userCard es clase padre de inventory,  y userStats */

.userCard {
  background-image: url("../img/userStatsBox.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: fill;
  opacity: 0.9;
  padding-top: 35px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-weight: bold;
  height: 85%;
  margin: 90px;
}

.userCard--card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.userCard--card--bgName {
  display: flex;
  justify-content: center;
  background-image: url("../img/fondoname.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  opacity: 0.9;
  background-size: 100% 100%;
  width: 250px;
  color: white;
}

/* ---------------- //USERCARD ----------------------*/

/* ---------------- BAR HEALTH AND EXP ----------------------*/

.bar--background {
  position: relative;
  height: 25px;
  text-align: center;
  background: -webkit-linear-gradient(to top, grey, clear);
  background: linear-gradient(to top, #555, #aaa);
  color: white;
}

.bar--foreground {
  position: relative;
  height: 25px;
  margin: 0px 0px -25px 0px;
  user-select: none;
  z-index: 2;
}

.bar--foreground--health {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #d20000, #d90101);
  background: linear-gradient(to top, #ac0101, #d90101);
  color: white;
}

.bar--foreground--exp {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #0c0, #0f0);
  background: linear-gradient(to top, #090, #0f0);
  color: white;
}

/* ---------------- //BAR HEALTH AND EXP ----------------------*/

/* ---------------- USERSTATS ----------------------*/

.userstats {
  display: flex;
  flex-direction: column;
}

.userstats--form {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  column-gap: 0;
}
.userstats--stats,
.userstats--add {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  font-size: 18px;
}
.userstats--stats label {
  height: 30px;
}

.userstats--add--form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.userstats--add--form input,
.userstats--add--form input:focus {
  height: 20px;
  margin: 5px;
}

.userstats--add--form img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.userstats--info {
  display: flex;
  flex-direction: column;
}

/* ---------------- //USERSTATS ----------------------*/

/* ----------------- USERINVENTORY -----------------------*/

.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inventory--equiped {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url("../img/items/inventoryEquiped.webp");
  width: 124px;
  height: 124px;
  /* padding: 3px; */
  margin: 30px;
}
.inventory--box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url("../img/items/inventoryBox.webp");
  width: 247px;
  height: 165px;
  padding: 3px;
  margin: 10px;
}

.item {
  width: 32px;
  height: 32px;
  filter: brightness(1.1);
  margin-top: 4px;
  margin-left: 2px;
}

.item:hover {
  filter: brightness(1.8);
  cursor: pointer;
}

.divItems {
  display: flex;
  max-width: 40px;
  max-height: 40px;
}

.divItems p {
  color: white;
  margin-left: -4px;
  margin-top: 1px;
  font-size: 10px;
}

.itemNoClass {
  margin-top: 1px;
  background-color: rgba(141, 17, 1, 0.5);
}

.itemNoLevel {
  margin-top: 1px;
  background-color: rgba(137, 128, 1, 0.5);
}

.form-control,
.form-control:focus {
  background-color: rgba(253, 168, 46, 0.25);
  text-align: center;
  box-shadow: none;
  font-size: 25px;
  height: 35px;
  border: 1px solid;
}
