/* ---------------- USERSTATS ----------------------*/

.userstats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.userstats--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.userstats--stats {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #d3d3d3;
}

.userstats--stats:first-child {
  border-top: 1px solid #d3d3d3;
}
.userstats--stats {
  border-top: none;
}

.userstats--stats:last-child {
  justify-content: end;
}

.userstats--labels {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.userstats--firstStat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  width: 100%;
  font-size: 13px;
  color: #ff7070;
}
.userstats--secondStat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  width: 100%;
  font-size: 11px;
  color: #b4dbe8;
}

.userstats--add--form {
  display: flex;
}

.userstats--add--form a {
  background-color: #363636;
  text-decoration: none;
  border: 1px solid #d3d3d3;
  color: var(--button--textColor);
  margin: 5px;
  padding: 0px 5px;
  filter: brightness(0.9);
}

.userstats--add--form a:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.userstats--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 5%;
}

.userstats--data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  border: 1px solid #d3d3d3;
}

.userstats--dataStat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  font-size: 13px;
  color: var(--button--textColor);
}
.userstats--dataStat span {
  color: #dbc46b;
}
