/* ---------------- PROFILE ----------------------*/

.profile {
  display: flex;
  flex-direction: column;
  background-image: url("../../img/background/bg-profile.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: fill;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* ---------------- USERCARD ----------------------*/
.userCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: bold;
  align-items: center;
  padding: 2% 0%;
  margin: 0% 10%;
  margin-top: 6.5%;
  background-image: url("../../img/interfaces/bg-user-stats.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #d3d3d3;
  opacity: 0.95;
}
