.rounds--console {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  color: #000;
}

.history-box {
  width: 80%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #646464;
  overflow-y: scroll;
  font-size: 15px;
}

.rounds--console--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 20px;
}
.rounds--console--buttons a,
.rounds--console--buttons a:hover {
  padding: 15px 75px;
  width: 100%;
}

.round {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(255, 183, 28);
  border: 1px solid #000;
  align-items: center;
}

.round h6 {
  font-weight: bold;
}

.winner {
  background-color: rgb(242, 160, 255);
}
