/* ---------------- PVP ----------------------*/
.pvpbattle {
    display: flex;
    background-image: url("../../img/bg-arena.webp");
    background-size: 100% 100%;
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    color: #000;
  }