/* ---------------- REGISTER ----------------------*/
.register--background {
  display: flex;
  background-image: url("../../../public/img/background/bg-login-register.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}

.register {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2%;
  margin: 0 2%;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  align-items: center;
  text-align: center;
  color: var(--button--textColor);
}

.register--cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 75%;
}

.inputForm {
  width: 80%;
  padding: 3px;
  appearance: none;
  background-color: unset;
  text-align: center;
  color: var(--button--textColor);
  border: 2px solid rgb(205, 166, 79);
}

.register--cards__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.register--cards__form button {
  background-color: unset;
  height: 50px;
}

.selectClass {
  font-size: 20px;
  width: 90%;
  padding: 3px;
  appearance: none;
  background-color: unset;
  text-align: center;
  color: var(--button--textColor);
  border: 2px solid #cda64f;
  text-transform: capitalize;
}

.selectClass option {
  background-color: black;
  text-transform: capitalize;
}

.classSelected {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 4% 0;
}

.classSelected--stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.classSelected--stats__head {
  grid-column-start: span 2;
  margin-bottom: 20px;
}

.register--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3%;
  margin-top: 10%;
  font-size: 15px;
}

/* ---------------- LOGIN ----------------------*/

.login {
  display: flex;
  background-image: url("../../../public/img/background/bg-login-register.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 125%;
  height: 100vh;
  width: 100vw;
}

.login h3 {
  letter-spacing: 5px;
  font-weight: bold;
}

.login--banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login--section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  padding: 3%;
  background-color: #000;
  border: 2px solid rgb(205, 166, 79);
}

.login--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--form button {
  background-color: unset;
}

.login--form input,
.login--form input:focus {
  letter-spacing: 2px;
  width: 75%;
  height: 20%;
  appearance: none;
  background-color: unset;
  color: var(--button--textColor);
  border: 2px solid rgb(205, 166, 79);
}

.login--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0%;
}

.login--stats {
  display: flex;
  flex-direction: column;
  background-color: #000;
  border: 2px solid rgb(205, 166, 79);
  margin-top: 2%;
  padding: 1% 2%;
  font-size: 15px;
  width: 35%;
}

.login--divStat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login--divStat span {
  color: #2ddb61;
}
