* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --button--textColor: #f5f5dc;
}

body {
  display: flex;
  
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--button--textColor);
}

@import url("https://fonts.cdnfonts.com/css/kingthings-calligraphica");

/* ---------------- UTILIDAD ----------------------*/

.button--links,
.button--links:hover {
  background-image: url("../public/img/utilities/btn-menu-black.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: var(--button--textColor);
  padding: 1%;
  letter-spacing: 2px;
  border: none;
  text-decoration: none;
}

.button--links:hover {
  border: none;
  filter: brightness(1.4);
  cursor: pointer;
}
/* ---------------- BAR HEALTH AND EXP ----------------------*/

.bar--background {
  position: relative;
  height: 25px;
  text-align: center;
  background: -webkit-linear-gradient(to top, grey, clear);
  background: linear-gradient(to top, #888, #aaa);
  color: var(--button--textColor);
  font-size: 15px;
}

.bar--foreground {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 25px;
  margin: 0px 0px -25px 0px;
  user-select: none;
  z-index: 2;
}

.bar--foreground--health {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #d20000, #d90101);
  background: linear-gradient(to top, #ac0101, #d90101);
}

.bar--foreground--exp {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #0c0, #00e900);
  background: linear-gradient(to top, #090, #00e900);
}

/* ---------------- TOAST ----------------------*/
.custom-success-toast {
  font-size: 15px;
}
