.mail {
  background-image: url("../../img/background/bg-mail.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  padding: 50px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.mail--form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 50px;
}

.mail--form button {
  font-size: 22px;
  padding: 10px 20px;
  margin: 0;
}

.mail--form input {
  letter-spacing: 2px;
  width: 60%;
}
