.userCard--card {
  background-image: url("../../../img/interfaces/bg-card.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.userCard--card--bgName {
  display: flex;
  justify-content: center;
  background-image: url("../../../img/utilities/fondoname.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  opacity: 0.9;
  width: 270px;
  color: var(--button--textColor);
  align-items: center;
  padding: 0.9%;
}

.userCard--card--bgName h3 {
  margin: 0;
}
