.quest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.divTables {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border: 2px solid #ecd586;
  margin: 3%;
  height: 550px;
}

.quest-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.quest-button button {
  background-color: #1e1e1e;
  border-bottom: 2px solid #ecd586;
  color: var(--button--textColor);
  filter: brightness(0.8);
  padding: 5%;
  font-weight: bold;
}

.quest-button button:disabled,
.quest-button button:disabled:hover {
  opacity: 0.6;
  cursor: not-allowed;
}

.quest-button button:first-child {
  border-right: 1px solid #ecd586;
}
.quest-button button:last-child {
  border-left: 1px solid #ecd586;
}

.quest-button button:hover {
  filter: brightness(1.2);
  background-color: #21404a;
  cursor: pointer;
}

.quest-button button.active {
  filter: brightness(1.1);
  background-color: #21404a;
}

.quests-tables {
  margin: 0 2%;
  text-transform: capitalize;
  overflow-x: auto;
  width: 100%;
}

.tableScroll {
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.quests-tables th {
  text-align: center;
  color: #508ca0;
  font-size: 18px;
  text-transform: uppercase;
  padding: 2%;
}

.quests-tables td {
  text-align: center;
  font-size: 16px;
  padding: 1.5% 0%;
  width: 25%;
  font-weight: bold;
}
.quests-tables td:first-child {
  width: 5%;
}

.quests-tables tbody tr:hover {
  filter: brightness(1.1);
  background-color: #21404a;
  cursor: pointer;
}

.quests-tables tbody tr.active {
  filter: brightness(1.4);
  background-color: #21404a;
}

.quest-info {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border: 2px solid #ecd586;
  margin: 3%;
  height: 550px;
}

.divDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #ecd586;
  height: 55%;
  font-size: 15px;
}

/* scroll */

.scrollable-content {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #ecd586;
  margin: 2% 5%;
  height: 70%;
}

.scrollable-content label {
  margin: 3% 5%;
}

::-webkit-scrollbar,
.scrollable-content::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track,
.scrollable-content::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border: 1px solid #ecd586;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-thumb,
.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #ecd586;
}

::-webkit-scrollbar-thumb:hover,
.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #d2a655;
}

/* scroll */

.divRequeriments {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #ecd586;
  height: 25%;
  text-align: start;
}
.divRequeriments h5 {
  padding: 2%;
  letter-spacing: 3px;
}

.divRequeriments div {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.divRequeriments span {
  color: #d2a655;
}

.divRewards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divRewards h5 {
  padding: 1%;
  letter-spacing: 3px;
}

.rewards {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}

.rewards div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-info-button {
  display: flex;
  justify-content: center;
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
}

.quest-info-button button {
  background-color: #1e1e1e;
  filter: brightness(0.8);
  padding: 0% 10%;
  margin: 5% 0;
  font-weight: bold;
  font-size: 25px;
}
.quest-info-button button:nth-child(2) {
  margin-left: 5%;
}

.cancel {
  border: 2px solid #fe7a7a;
  color: #fe7a7a;
}

.completed {
  border: 2px solid #fcdd7a;
  color: #fcdd7a;
}

.accept {
  border: 2px solid #8ccd95;
  color: #8ccd95;
}

.questComplete {
  border: 1px solid #66c673;
  color: #66c673;
}

.quest-info-button button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
