:root {
  --button--textColor: #f5f5dc;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

/* ---------------- UTILIDAD ----------------------*/

@import url("https://fonts.cdnfonts.com/css/kingthings-calligraphica");

.button--links,
.button--links:hover {
  background-image: url("../img/utilities/btn-menu.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: var(--button--textColor);
  padding: 2%;
  letter-spacing: 2px;
  border: none;
  text-decoration: none;
  color: #fff;
  border: none;
}

.button--links:hover {
  border: none;
  filter: brightness(1.4);
}
/* ---------------- //UTILIDAD ----------------------*/

/* ---------------- REGISTER ----------------------*/
.register--background {
  display: flex;
  background-image: url("../img/backgroundLogin.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.register {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 7%;
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
}

.register--cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  background-image: url("../img/bg-form-register-login.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.register--cards:first-child {
  margin-left: 10%;
}

.register--cards__form {
  width: 80%;
}

.register--cards__form button {
  background-color: unset;
  height: 50px;
}

.register--cards__form select {
  font-size: 20px;
  appearance: none;
  background-color: rgba(253, 168, 46, 0.25);
}

.classSelected {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 4% 0;
}

.classSelected--stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.classSelected--stats__head {
  grid-column-start: span 2;
  margin-bottom: 20px;
}

/* ---------------- //REGISTER ----------------------*/

/* ---------------- LOGIN ----------------------*/

.login {
  display: flex;
  background-image: url("../img/backgroundLogin.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.login h2 {
  letter-spacing: 5px;
  font-weight: bold;
}

.login--banner {
  background-image: url("../img/bg-form-register-login.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 67%;
  width: 40%;
  margin-left: 5%;
}

.login--section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50%;
}

.login--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--form button {
  background-color: unset;
}

.login--form input {
  letter-spacing: 2px;
  width: 60%;
}

.login--footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

/* ---------------- //LOGIN ----------------------*/

/* ---------------- SIDEBAR ----------------------*/

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
  background-color: rgb(53, 53, 53);
  border: 2px solid;
  color: rgb(55, 255, 222);
  text-align: center;
  align-items: center;
}

.sidebar a {
  width: 90%;
}

.sidebar--logo {
  height: 14%;
  padding-top: 8%;
}

.button--sidebar {
  margin-top: 7%;
}

.button--sidebar:last-child {
  margin-top: 35%;
}

/* ---------------- //SIDEBAR ----------------------*/

/* ---------------- PROFILE ----------------------*/

.profile {
  background-image: url("../img/bg-profile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  object-fit: fill;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.profileNavbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: rgb(53, 53, 53);
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  color: rgb(55, 255, 222);
  width: 100%;
}

.profileNavbar--labels {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.navBarDivs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

/* ---------------- PROFILECARD ----------------------*/
.profileCard {
  display: flex;
  width: 100vw;
  height: 100vh;
}
/* ---------------- //PROFILECARD ----------------------*/

/* ---------------- USERCARD ----------------------*/

.userCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-image: url("../img/bg-user-stats.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: fill;
  opacity: 0.9;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
  width: 85%;
  height: 95%;
  margin: 3% 7%;
}

.userCard--card--bgName {
  display: flex;
  justify-content: center;
  background-image: url("../img/utilities/fondoname.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  opacity: 0.9;
  width: 270px;
  color: var(--button--textColor);
  align-items: center;
  padding: 0.9%;
}

.userCard--card--bgName h3 {
  margin: 0;
}

/* ---------------- //USERCARD ----------------------*/

/* ---------------- BAR HEALTH AND EXP ----------------------*/

.bar--background {
  position: relative;
  height: 25px;
  text-align: center;
  background: -webkit-linear-gradient(to top, grey, clear);
  background: linear-gradient(to top, #888, #aaa);
  color: var(--button--textColor);
  font-size: 15px;
}

.bar--foreground {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 25px;
  margin: 0px 0px -25px 0px;
  user-select: none;
  z-index: 2;
}

.bar--foreground--health {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #d20000, #d90101);
  background: linear-gradient(to top, #ac0101, #d90101);
  color: white;
}

.bar--foreground--exp {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #0c0, #0f0);
  background: linear-gradient(to top, #090, #0f0);
  color: white;
}

/* ---------------- //BAR HEALTH AND EXP ----------------------*/

/* ---------------- USERSTATS ----------------------*/

.userstats {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  font-size: 15px;
}

.userstats--form {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.userstats--stats {
  display: flex;
  flex-direction: column;
}
.userstats--stats label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.userstats--add--form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userstats--add--form a,
.userstats--add--form a:hover {
  background-color: #000;
  text-decoration: none;
  border-radius: 5px;
  color: var(--button--textColor);
  margin: 5px;
  cursor: pointer;
  width: 50%;
  height: 50%;
}

.userstats--info {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

/* ---------------- //USERSTATS ----------------------*/

/* ----------------- USERINVENTORY -----------------------*/

.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 3%;
}

.inventory--equiped {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url("../img/items/inventoryEquiped.webp");
  width: 124px;
  height: 124px;
  margin: 6%;
}
.inventory--box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url("../img/items/inventoryBox.webp");
  width: 247px;
  height: 165px;
  padding: 1%;
  margin: 3%;
}

.item {
  width: 32px;
  height: 32px;
  filter: brightness(1.1);
  margin-top: 2px;
  margin-left: 1px;
}

.item:hover {
  filter: brightness(1.8);
  cursor: pointer;
}

.itemNoClass {
  margin-top: 1px;
  background-color: rgba(141, 17, 1, 0.5);
}

.itemNoLevel {
  margin-top: 1px;
  background-color: rgba(137, 128, 1, 0.5);
}

.form-control,
.form-control:focus {
  background-color: rgba(253, 168, 46, 0.25);
  text-align: center;
  box-shadow: none;
  font-size: 25px;
  border: 1px solid;
}

/* --------------------------- Tooltip --------------------------- */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-weight: 400;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  white-space: pre-line;
  position: absolute;
  bottom: 120%;
  left: 85%;
  margin-bottom: 5px;
  margin-left: -90px;
  padding: 6px 8px;
  width: 150px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.95);
  text-align: start;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 15px;
  line-height: 1.4;
}

/* --------------------------- Triangle tooltip --------------------------- */
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 85%;
  margin-left: -20px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.92);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  font-size: 0;
  line-height: 0;
}

/* --------------------------- Hover tooltip --------------------------- */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* --------------------------- //Tooltip --------------------------- */

/* ---------------- //USERINVENTORY ----------------------*/

/* ---------------- //PROFILE ----------------------*/

/* ---------------- ZONE ----------------------*/

.zone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  background-image: url("../img/zone/bg-zone.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  object-fit: fill;
  color: #fff;
  width: 100vw;
}

.zoneForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.buttons-zone,
.buttons-zone:hover {
  background-image: url("../img/utilities/fondoname.webp");
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 20%;
  width: 100%;
}

/* ---------------- //ZONE ----------------------*/

/* ---------------- NPC ----------------------*/

.npcCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  background-size: 100% 100%;
  width: 100%;
}

.npcCards--form {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5.5% 0;
  background-image: url("../img/utilities/framework-card.webp");
  background-size: 83% 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(1.2);
}

.npcName,
.npcBattleName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/utilities/fondoname.webp");
  background-size: 100% 100%;
  background-position: center;
  color: var(--button--textColor);
  padding: 0.9%;
  width: 190px;
  margin: 0;
}

.npcName h4 {
  margin-top: 1%;
  font-size: 18px;
}

.npcName h6 {
  font-size: 11px;
}

.npcCards--form button {
  background-image: url("../img/utilities/btn-npc-card.webp");
  background-position: center;
  color: var(--button--textColor);
  width: 190px;
}

.npcCards--form button:hover {
  filter: brightness(1.4);
}

/* ---------------- //NPC ----------------------*/

/* ---------------- PVEBATTLE ----------------------*/

.battle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/zone/bg-forest.webp");
  background-size: 100% 100%;
  padding: 10px;
}

.battle--usercard,
.battle--npccard {
  background-image: url("../img/utilities/framework-card.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 460px;
}

.battle label {
  width: 270px;
  background-color: #646464;
}

.npcBattleName {
  width: 270px;
}

.rounds--console {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
  justify-items: center;
  font-weight: bold;
}

.history-box {
  width: 80%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #646464;
  overflow-y: scroll;
}

.rounds--console--buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.rounds--console--buttons a,
.rounds--console--buttons a:hover {
  font-size: 25px;
  padding: 10px 100px;
}

.round {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: rgb(255, 183, 28);
  border: 1px solid #000;
  align-items: center;
}

.winner {
  background-color: rgb(242, 160, 255);
}

/* ---------------- //PVEBATTLE ----------------------*/

/* ---------------- NPCCARD ----------------------*/
.pvebattle--npccard--form,
.userCard--card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

/* ---------------- //NPCCARD ----------------------*/

/* ---------------- PVP ----------------------*/
.pvpbattle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
}
/* ---------------- //PVP ----------------------*/

/* ---------------- SHOP ----------------------*/

.shop {
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-shop.webp");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.shop--items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  height: 100vh;
}

.shop--inventory,
.shop--npc {
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-inventory-shop.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  padding: 10%;
}

.shop--npc--button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 248px;
  height: 32px;
}

.shop--npc--button button {
  background-image: url("../img/items/buttons.jpg");
  color: var(--button--textColor);
}

.shop--npc--card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: url("../img/items/shop.webp");
  width: 248px;
  height: 329px;
}

/* ---------------- //SHOP ----------------------*/

/* ---------------- RANKING ----------------------*/

.ranking {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  text-align: center;
  font-weight: bold;
}

/* ---------------- //RANKING ----------------------*/

/* ---------------- GUILD ----------------------*/

.guild {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  text-align: center;
}

/* ---------------- //GUILD ----------------------*/

/* ---------------- QUESTS ----------------------*/

.quest {
  width: 100vw;
  height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.quest--accepted {
  padding-top: 10px;
}

.quest--nonAccepted {
  padding-top: 20px;
}

/* ---------------- //QUESTS ----------------------*/

/* ---------------- TOAST ----------------------*/
.custom-success-toast {
  font-size: 15px;
}
/* ---------------- //TOAST ----------------------*/

#draggable {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  cursor: grab;
}

/* ---------------- //MAIL ----------------------*/
.mail {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  text-align: center;
  font-weight: bold;
}

.mail--form {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 50px;
}

.mail--form button {
  background-color: unset;
  font-size: 22px;
  padding: 10px 20px;
  margin: 0;
}

.mail--form input {
  letter-spacing: 2px;
  width: 60%;
}
