/* ---------------- UTILIDAD ----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.links,
.links:hover {
  text-decoration: none;
  color: #fff;
}

.button--links,
.button--links:hover {
  background-image: url("../img/utilities/button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 10px;
}
/* ---------------- //UTILIDAD ----------------------*/

/* ---------------- REGISTER ----------------------*/
.register--background {
  width: 100vw;
  height: 100vh;
}

.register {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 100px;
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
}

.register--cards {
  display: flex;
  height: 500px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
}

.register--cards:first-child {
  margin-left: 100px;
}
.register--cards:last-child {
  margin-right: 100px;
}

.register--cards__form {
  width: 85%;
}

.classSelected {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 30px 0;
}

.classSelected--stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.classSelected--stats__head {
  grid-column-start: span 2;
}

/* ---------------- //REGISTER ----------------------*/

/* ---------------- LOGIN ----------------------*/

.login {
  display: grid;
  grid-template-columns: 4fr 2fr;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.login--img {
  background-image: url("../img/backgroundLogin.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.login--section {
  display: flex;
  flex-direction: column;
  background-color: #f9ebd9;
  justify-content: center;
}

.login--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login--form input {
  width: 60%;
}

.login--footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login--footer p {
  margin: 15px 0px;
}

/* ---------------- //LOGIN ----------------------*/

/* ---------------- SIDEBAR ----------------------*/

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgb(53, 53, 53);
  border: 2px solid;
  color: rgb(55, 255, 222);
  text-align: center;
}

.sidebar--logo {
  height: 80px;
}


/* ---------------- //SIDEBAR ----------------------*/

/* ---------------- PROFILE ----------------------*/

.profile {
  background-image: url("../img/bg-userStats.webp");
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  background-color: black;
}
.profileNavbar {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  background-color: rgb(53, 53, 53);
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  color: rgb(55, 255, 222);
  height: 80px;
  width: 100%;
  align-items: center;
}

.profileNavbar--labels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}

.navBarDivs {
  height: 32px;
}

/* ---------------- USERCARD ----------------------*/

.userCard {
  background-image: url("../img/userStatsBox.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-fit: fill;
  background-repeat: no-repeat;
  border-radius: 15px;
  opacity: 0.85;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-weight: bold;
  width: 1000px;
  height: 460px;
  margin: 130px;
}

.userCard--card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
/* ---------------- //USERCARD ----------------------*/

/* ---------------- BAR HEALTH AND EXP ----------------------*/

.bar--background {
  position: relative;
  height: 25px;
  text-align: center;
  background: -webkit-linear-gradient(to top, grey, clear);
  background: linear-gradient(to top, #555, #aaa);
  color: white;
}

.bar--foreground {
  position: relative;
  height: 25px;
  margin: 0px 0px -25px 0px;
  user-select: none;
  z-index: 2;
}

.bar--foreground--health {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #d20000, #d90101);
  background: linear-gradient(to top, #ac0101, #d90101);
  color: white;
}

.bar--foreground--exp {
  position: relative;
  height: 25px;
  background: -webkit-linear-gradient(to top, #0c0, #0f0);
  background: linear-gradient(to top, #090, #0f0);
  color: white;
}

/* ---------------- //BAR HEALTH AND EXP ----------------------*/

/* ---------------- USERSTATS ----------------------*/

.userstats {
  border-radius: 0 15px 15px 0;
  align-self: center;
  height: 100%;
}

.userstats--form {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  width: 100%;
}
.userstats--stats {
  height: 100%;
  min-height: 200px;
}
.userstats--stats label {
  padding: 12px;
}
.userstats--add--form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.btn--stats {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.userstats--add--form input {
  margin: 5px;
}

/* ---------------- //USERSTATS ----------------------*/

/* ----------------- USERINVENTORY -----------------------*/

.inventory {
  
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.inventory--equiped {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url("../img/items/inventoryEquiped.webp");
  width: 127px;
  height: 125px;
  padding: 3px;
  margin: 10px;
}
.inventory--box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url("../img/items/inventoryBox.webp");
  width: 244px;
  height: 164px;
  padding: 3px;
  margin: 10px;
}

.item {
  width: 32px;
  height: 32px;
  filter: brightness(1.1);
  margin-top: 4px;
  margin-left: 2px;
}

.item:hover {
  filter: brightness(1.8);
  cursor: pointer;
}

.divItems {
  display: flex;
  max-width: 40px;
  max-height: 40px;
}

.divItems p {
  color: white;
  margin-left: -4px;
  margin-top: 1px;
  font-size: 9px;
}

.itemNoClass {
  margin-top: 1px;
  background-color: rgba(141, 17, 1, 0.5);
}

.itemNoLevel {
  margin-top: 1px;
  background-color: rgba(137, 128, 1, 0.5);
}

/* --------------------------- Tooltip --------------------------- */

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  white-space: pre-line;
  position: absolute;
  bottom: 120%;
  left: 85%;
  margin-bottom: 5px;
  margin-left: -90px;
  padding: 6px 8px;
  width: 150px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.92);
  text-align: start;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.4;
}

/* --------------------------- Triangle tooltip --------------------------- */
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 85%;
  margin-left: -20px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.92);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  font-size: 0;
  line-height: 0;
}

/* --------------------------- Hover tooltip --------------------------- */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* --------------------------- //Tooltip --------------------------- */

/* ---------------- //USERINVENTORY ----------------------*/

/* ---------------- //PROFILE ----------------------*/

/* ---------------- ZONE ----------------------*/

.zone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  margin: 10px;
  text-align: center;
  align-items: center;
}

.zoneForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10px;
  border: 2px solid;
}

/* ---------------- //ZONE ----------------------*/

/* ---------------- NPC ----------------------*/

.npcCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100vw;
  justify-items: center;
  background-image: url("../img/zone/bg-forest.webp");
  background-Size: "cover";
  background-repeat: "no-repeat";
  background-Position: "center";
  height: "100vh",
}

.npcCards--form {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: auto;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("../img/zone/bg-cardNpc.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.npcCards--form button {
  background-image: url("../img/utilities/button.png");
  background-size: contain;
  color: white;
  width: 100px;
  margin: 5px;
}

/* ---------------- //NPC ----------------------*/

/* ---------------- PVEBATTLE ----------------------*/

.battle {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/zone/bg-forest.webp");
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position: center;
  opacity: 10000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.battle--usercard {
  background-image: url("../img/bg-card.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50px;
  align-self: center;
  background-position: center center;
  position: relative;
  color: white;
}
.battle--npccard {
  background-image: url("../img/bg-card.webp");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50px;
  align-self: center;
  background-position: center center;
  position: relative;
  color: white;
}

.rounds--console {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  
}

.history-box {
  width: 700px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #646464;
  overflow-y: scroll;
  
}

.round {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: rgb(255, 183, 28);
  border: 1px solid #000;
  align-items: center;
  
}

.winner {
  background-color: rgb(242, 160, 255);
}

/* ---------------- //PVEBATTLE ----------------------*/

/* ---------------- NPCCARD ----------------------*/
.pvebattle--npccard--form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
/* ---------------- //NPCCARD ----------------------*/

/* ---------------- PVP ----------------------*/
.pvpbattle {
  padding-top: 250px;
  padding-left: 425px;
  padding-right: 425px;
  font-size: 25px;
  font-weight: bold;
}
/* ---------------- //PVP ----------------------*/

/* ---------------- SHOP ----------------------*/

.shop {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.shop--items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.shop--npc {
  text-align: center;
  border: 2px solid;
  width: 340px;
}

.shop--npc--button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 244px;
  height: 32px;
  margin: 0px 10px;
}
.shop--npc--button button {
  color: white;
  background-image: url("../img/items/buttons.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 61px;
  font-size: 15px;
}

.shop--npc--button button:first-child {
  margin-left: 70px;
}

.shop--npc--button button:focus {
  text-decoration: none;
}

.shop--npc--section {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.shop--npc--card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin-bottom: 10px;
  background-image: url("../img/items/shop.webp");
  width: 244px;
  height: 322px;
}

.shop--npc--section button {
  color: white;
  background-image: url("../img/items/buttons.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 35.77px;
  margin-left: 10px;
  font-size: 14px;
}

/* ---------------- //SHOP ----------------------*/

/* ---------------- RANKING ----------------------*/

.ranking {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.ranking--tableUsers {
  padding-bottom: 10px;
}

/* ---------------- //RANKING ----------------------*/

/* ---------------- GUILD ----------------------*/

.guild {
  width: 100vw;
  height: 100vh;

  font-size: 15px;
  font-weight: bold;

  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.guild--stats {
  border: black;
}

.guild--members {
  border: black;
}

.guild--requests {
  border: black;
}

/* ---------------- //GUILD ----------------------*/

@media (max-width: 700px) {
  .login {
    display: flex;
    flex-direction: column;
  }

  .login--section {
    background-image: url("../img/backgroundLoginResponsive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
  }

  .login--footer a {
    background-color: #fff;
    color: black;
  }

  .register--background {
    background-image: url("../img/backgroundLoginResponsive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
  }

  .register {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    margin: 80px auto;
    align-items: center;
  }

  .register--cards {
    background-color: rgba(255, 255, 255, 0.848);
    border-radius: 20px;
    height: 100vh;
    width: 300px;
  }

  .register--cards:first-child {
    margin-left: 0px;
  }
  .register--cards:last-child {
    margin-right: 0px;
  }

  .classSelected--stats {
    font-size: 12px;
    height: 150px;
  }

  .classSelected {
    display: flex;
    flex-direction: column;
  }

  .classSelected--img img {
    width: 120px;
    height: 150px;
  }

  .sidebar {
    width: 150px;
    height: 100vh;
    font-size: 10px;
    margin: 0;
  }

  .profileNavbar {
    display: flex;
    width: 280px;
    font-size: 10px;
    justify-content: center;
  }

  .profileNavbar--labels {
    align-items: center;
  }

  .navBarDivs {
    height: 47px;
    font-size: 7px;
  }

  .userCard {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 600px;
    overflow-y: scroll;
  }

  [data-tooltip]:before {
    margin-left: -40px;
    font-size: 10px;
  }

  [data-tooltip]:after {
    margin-left: -15px;
  }

  .zone,
  .npcCards {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
  }
  .zoneForm img {
    width: 200px;
    height: 124px;
    margin: 0 10px;
  }

  .shop {
    width: 100%;
  }

  .shop--items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 268px;
  }

  .shop--npc {
    width: 268px;
    border-top: none;
  }

  .shop--npc--button button:first-child {
    margin-left: 0px;
  }
  .shop--npc--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .shop--item--type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 244px;
    margin: 0 10px;
  }
  .shop--npc--section button {
    background-image: url("../img/items/buttons.jpg");
    width: 81.33px;
    height: 32px;
    margin: 0;
  }

  .battle {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow-y: scroll;
  }

  .history-box {
    width: 250px;
  }

  .round {
    width: 225px;
    padding: 0;
    column-gap: 15px;
    font-size: 10px;
  }

  .round h6 {
    text-align: center;
    font-size: 10px;
  }
}
