.ranking {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  font-weight: bold;
  background-color: #151515;
  color: #ecd586;
}

.ranking--tableUsers {
  max-width: 90%;
  margin: 0 auto;
  background-color: #001928;
  border: 2px solid #ecd586;
  padding: 5px;
}

.ranking--tableUsers h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.ranking--table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.ranking--table th {
  text-align: center;
  color: #4088a1;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.ranking--table td {
  text-align: center;
  font-size: 15px;
}

.ranking--table tbody tr:hover {
  filter: brightness(1.2);
  background-color: #002d48;
  border: 1px solid #d7ab3c;
  cursor: pointer;
}
