.market {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 100%;
}

.market h1 {
  color: black;
  text-align: center;
}

.navbarMarket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
  margin-top: -2.3%;
}

.divMarket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 60%;
}


.market_table {
  text-align: center;
}
