.market {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-left: 12%;
  width: 60%;
}

.market h1 {
  color: black;
}

.market_table {
  text-align: center;
}
