/* ---------------- SIDEBAR ----------------------*/

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15%;
  background-image: url("../../img/bg-sidebar.png");
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  align-items: center;
}

.sidebar a {
  width: 80%;
}

.sidebar--logo {
  height: 18%;
  padding-top: 3%;
}

.button--sidebar {
  margin-top: 7%;
}

.button--sidebar:last-child {
  margin-top: 20%;
}
