.profileNavbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-image: url("../../../img/bg-navbar.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  height: 5%;
  padding: 5px;
  width: 100%;
}

.profileNavbar--labels {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.navBarDivs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}
